.hide {
  display: none;
}

.player-img {
  width: 250px;
}

.img-sm, .img-sm-bug {
  width: 125px;
}

i {
  font-size: 120px;
}

/* .day, .night, form {
  background-color: rgba(255, 255, 255, 0.9);
} */

body {
  background-image: url('../img/day_new_sm.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* padding: 20%; */
}

.daytime {
  background-image: url('../img/day_new_sm.png');
}

.nightime {
  background-image: url('../img/night_new_sm.png');
}

* {
  text-align: center;
  font-family: sans-serif;
}

.background-color {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7%;
  margin: auto;
  max-width: 500px;
  height: 800px;
}

/* form {
  max-width: 360px;
  height: 500px;
  margin: auto;
} */
input {
  padding: 5px;
  margin: 5px;
}

h1, h3, {
  font-family: 'Megrim', cursive;
}

.logo {
  width: 300px;
}

.btn-dark {
  margin-top: 5%;
}

.name, #victim {
  font-weight: bold;

}
