.hide {
  display: none;
}

.player-img {
  width: 250px;
}

.img-sm {
  width: 125px;
}

i {
  font-size: 150px;
}

.day {
  background-color: orange;
}

.night {
  background-color: lightblue;
}

body {
  background-image: url('../img/day_sm.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
