* {
  text-align: center;
  font-family: sans-serif;
}

body {
  background-image: url('../img/day_new_sm.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

input {
  padding: 5px;
  margin: 5px;
}

h1, h3, {
  font-family: 'Megrim', cursive;
}

.hide {
  display: none;
}

.player-img {
  width: 50%;
}

.player-img-bug {
  width: 30%;
}

#bug-win-img {
  width: 50%;
}

.img-sm, .img-sm-bug {
  width: 125px;
}

button#discussion{
  margin: auto;
}

.daytime {
  background-image: url('../img/day_new_sm.png');
}

.nightime {
  background-image: url('../img/night_new_sm.png');
}

.background-color {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 7%;
  margin: auto;
  max-width: 500px;
  height: 70vh;
}

.logo {
  height: 20vh;
}

.btn-dark {
  margin-top: 5%;
}

.name, #victim, #vote-victim-name {
  font-weight: bold;
}

.name {
  font-size: 150%;
}

#discussion {
  display: block;
}

#timeClock {
  font-size: 50px;
}
